
:root {
    background-color: white;
    font-size: 62.5%;
}

::selection {
  background: red;
}

* {
    box-sizing: border-box;
    font-family: 'Noto Sans';
    margin: 0;
    padding: 0;
    color: #333;
}

html {
    scroll-behavior: smooth;
   }

/*HERO SECTION*/
.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #0096FF;
    width: 100%;
    height: 45vh;
  }

  .wrapper h1 {
    color: white;
    text-align: center;
    margin-bottom: 10px;
    position: relative;
    bottom: 7vh;
    font-size: 50px;

  }

  .wrapper p {
    color: white;
    margin-top: 0;
    text-align: center;
    position: relative;
    bottom: 6.5vh;
    font-size: 20px;
  }
  
  
  .wrapper a {
    background-color: #fff;
    display: block;
    width: 200px;
    height: 50px;
    line-height: 40px;
    font-size: 18px;
    text-decoration: none;
    color: white;
    border: 2px solid #fff; /* Updated border style to white solid */
    border-radius: 25px;
    letter-spacing: 2px;
    text-align: center;
    position: relative;
    transition: all .35s;
  }
  
  
    .wrapper a span{
    position: relative;
    z-index: 2;
    }

    .wrapper a:after{
    position: absolute;
    content: "";
    top: 0;
    border-radius: 25px;
    left: 0;
    width: 0;
    height: 100%;
    background: #0096FF;
    transition: all .35s;
    }

    .wrapper a span:hover{
    color: white;
    }

    .wrapper a:hover:after{
    width: 100%;
    }

    .second-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #ffffff;
        width: 100%;
        height: 60vh;
    }

/*CONTACT FORM*/
.contact-us h1 {
    text-align: center;
    font-size: 50px;
    position: relative;
    top: 2vh;
    color: #000;
    
}
.contact-form {
    width: 500px;
    background-color: #fff;
    box-shadow: 0 0 2px 0 #999;
    top: 90%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    border-radius: 18px;
}

form {
    margin: 35px;
}

.input-field {
    width: 400px;
    height: 40px;
    margin-top: 20px;
    padding-left: 10px;
    border: 1px solid #777;
    border-radius: 14px;
    outline: none;
}

.textarea-field {
    height: 150px;
    padding-top: 10px;
}

.send-btn {
    border-radius: 20px;
    color: #fff;
    margin-top: 18px;
    padding: 10px;
    background-color: #0096FF;
    font-size: 12px;
    border: none;
    cursor: pointer;
}

/*BUTTONS*/

.btn {
    border-radius: 8px;
    font-size: 1.8rem;
    padding: 1rem 0;
    width: 20rem;
    text-align: center;
    border: 0.1rem solid #56a5eb;
    margin-bottom: 1rem;
    text-decoration: none;
    color: #56a5eb;
    background-color: white;
}

.btn:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem rgba(86,185,235,0.5);
    transform: translateY(-0.1rem);
    transition: transform 150ms;
}

.btn[disabled]:hover {
    cursor: not-allowed;
    box-shadow: none;
    transform: none;
}

.corner-btn {
    border-radius: 24px;
    font-size: 1.8rem;
    padding: 1rem 0;
    width: 20rem;
    text-align: center;
    border: 0.1rem solid #56a5eb;
    margin-bottom: 1rem;
    text-decoration: none;
    color: #56a5eb;
    background-color: white;

}



/* NAVBAR */

nav {
    background: white;
    height: 80px;
    width: 100%;
    font-family: 'Noto Sans';
}


label.logo {
    color: black;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
    position: relative;
    left: -60px;
}

label.logo a {
    color: black;
    text-decoration: none;
}

.nav-btn {
    background-color: #00008B;
    color: black;
    padding: 10px 20px;
    width: 20rem;
    text-align: center;
    text-decoration: none;
    font-size: 1.8rem;
    color: white;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
    float: right;
    margin-right: 20px;
    margin-top: 17px;
    
}


.nav-btn:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem #56a5eb;
    transform: translateY(-0.5rem);
    transition: transform 100ms;
}

.nav-btn[disabled]:hover {
    cursor: not-allowed;
    box-shadow: none;
    transform: none;
}

.bottom-nav {
    background-color: #333;
    overflow: hidden;
    position: relative;
    bottom: 0;
    width: 100%;
    height: 5vh;
}

.bottom-nav label.logo-git i {
    color: rgb(255, 255, 255);
    font-size: 4.1vh;
    position: relative;
    top: 0.4vh;
    left: 52%;
}

.bottom-nav label.logo-link i {
    color: rgb(255, 255, 255);
    font-size: 4.1vh;
    position: relative;
    top: 0.4vh;
    left: 46%;
}



@media only screen and (max-height: 850px) {
    
    .contact-us h1 {
        font-size: 7vh;
    }

    .contact-form {
        width: 500px;
        background-color: #fff;
        box-shadow: 0 0 2px 0 #999;
        top: 100%;
        left: 50%;
        transform: translate(-50%,-50%);
        position: absolute;
        border-radius: 18px;
    }
    
    form {
        margin: 35px;
    }
    
    .input-field {
        width: 400px;
        height: 20px;
        margin-top: 20px;
        padding-left: 10px;
        border: 1px solid #777;
        border-radius: 14px;
        outline: none;
    }
    
    .textarea-field {
        height: 100px;
        padding-top: 10px;
    }

    .bottom-nav {
        display: none;
    }

}

@media only screen and (max-height: 850px) {
    

    .contact-us h1 {
        font-size: 1vw;
    }

    .contact-form {
        width: 500px;
        background-color: #fff;
        box-shadow: 0 0 2px 0 #999;
        top: 100%;
        left: 50%;
        transform: translate(-50%,-50%);
        position: absolute;
        border-radius: 18px;
    }
    
    form {
        margin: 35px;
    }
    
    .input-field {
        width: 400px;
        height: 20px;
        margin-top: 20px;
        padding-left: 10px;
        border: 1px solid #777;
        border-radius: 14px;
        outline: none;
    }
    
    .textarea-field {
        height: 100px;
        padding-top: 10px;
    }
    
}

@media only screen and (max-height: 680px) {
    .contact-us h1 {
        display: none;
    }

    .wrapper h1 {
        font-size: 2rem;
    }

    .wrapper p {
        font-size: 1.7rem;
    }
    
}


@media only screen and (max-height: 605px) {
    .contact-us h1 {
        display: none;
    }

    .wrapper h1 {
        font-size: 2rem;
    }

    .wrapper p {
        font-size: 1.7rem;
    }

    .contact-form {
        display: none;
    }

    .nav-btn {
        display: none;
    }

    .wrapper {
        height: 90vh;
    }

    .second-wrapper {
        height: 0vh;
    }
    
}


@media only screen and (max-width: 529px) {
    
    .wrapper {
        width: 100%;
    } 

    .wrapper h1 {
        font-size: 4vh;
    }

    .nav-btn {
        display: none;
    }

    .bottom-nav label.logo-git i {
        color: rgb(255, 255, 255);
        font-size: 4.1vh;
        position: relative;
        top: 0.4vh;
        left: 50%;
    }
    
    .bottom-nav label.logo-link i {
        color: rgb(255, 255, 255);
        font-size: 4.1vh;
        position: relative;
        top: 0.4vh;
        left: 30%;
    }
    
}

@media only screen and (max-width: 900px) {
    
    .wrapper {
        width: 100%;
    } 

    .wrapper h1 {
        font-size: 5vh;
        bottom:  0.2vh;
    }

    .wrapper p {
        top: 4%;
        font-size: 2vh;
    }

    .wrapper a {
        top: 6vh;

    }

    .bottom-nav label.logo-git i {
        color: rgb(255, 255, 255);
        font-size: 4.1vh;
        position: relative;
        top: 0.4vh;
        left: 54%;
    }
    
    .bottom-nav label.logo-link i {
        color: rgb(255, 255, 255);
        font-size: 4.1vh;
        position: relative;
        top: 0.4vh;
        left: 40%;
    }
}

@media only screen and (max-width: 2000px) {

    .bottom-nav label.logo-git i {
        color: rgb(255, 255, 255);
        font-size: 4.1vh;
        position: relative;
        top: 0.4vh;
        left: 50%;
    }
    
    .bottom-nav label.logo-link i {
        color: rgb(255, 255, 255);
        font-size: 4.1vh;
        position: relative;
        top: 0.4vh;
        left: 44.25%;
    }

}

@media only screen and (max-width: 1600px) {

    .bottom-nav label.logo-git i {
        color: rgb(255, 255, 255);
        font-size: 4.1vh;
        position: relative;
        top: 0.4vh;
        left: 51%;
    }
    
    .bottom-nav label.logo-link i {
        color: rgb(255, 255, 255);
        font-size: 4.1vh;
        position: relative;
        top: 0.4vh;
        left: 43%;
    }

}

@media only screen and (max-width: 1200px) {

    .bottom-nav label.logo-git i {
        color: rgb(255, 255, 255);
        font-size: 4.1vh;
        position: relative;
        top: 0.4vh;
        left: 54%;
    }
    
    .bottom-nav label.logo-link i {
        color: rgb(255, 255, 255);
        font-size: 4.1vh;
        position: relative;
        top: 0.4vh;
        left: 40%;
    }

}

@media only screen and (max-width: 750px) {
    
    .wrapper {
        width: 100%;
    } 

    .wrapper h1 {
        font-size: 4vh;
        position: relative;
        bottom:  5vh;
    }

    .wrapper p {
        position: relative;
        top: 2%;
        font-size: 2vh;
    }

    .wrapper a {
        top: 6vh;

    }
    .nav-btn {
        display: none;
    }

    label.logo a {
        color: rgb(0, 0, 0);
        position: relative;
        left: 38.25%;
    }

}

@media only screen and (max-width: 680px) {
    
    .wrapper {
        width: 100%;
    } 

    .wrapper h1 {
        font-size: 4vh;
        bottom:  0.1vh;
    }

    .wrapper p {
        top: 4%;
        font-size: 2vh;
    }

    .wrapper a {
        top: 6vh;

    }

}

@media only screen and (max-width: 510px) {
    
    .wrapper {
        width: 100%;
    } 

    .wrapper h1 {
        font-size: 4vh;
        
    }

    .nav-btn {
        display: none;
    }

}

@media only screen and (max-width: 420px) {
    
    .wrapper {
        width: 100%;
    } 

    .wrapper h1 {
        font-size: 4vh;
    }

    .wrapper p {
        font-size: 1.5vh;
    }

    .nav-btn {
        display: none;
    }

    label.logo a {
        left: 20%;
    }


    .contact-us h1 {
        text-align: center;
        font-size: 4vh;
        position: relative;
        top: 2vh;
        color: #000;
        
    }
    .contact-form {
        width: 300px;
        background-color: #fff;
        box-shadow: 0 0 2px 0 #999;
        top: 90%;
        left: 50%;
        transform: translate(-50%,-50%);
        position: absolute;
    }
    
    form {
        margin: 35px;
    }
    
    .input-field {
        width: 200px;
        height: 40px;
        margin-top: 20px;
        padding-left: 10px;
        border: 1px solid #777;
        border-radius: 14px;
        outline: none;
    }
    
    .textarea-field {
        height: 150px;
        padding-top: 10px;
    }
    
    .send-btn {
        border-radius: 20px;
        color: #fff;
        margin-top: 18px;
        padding: 10px;
        background-color: #47c35a;
        font-size: 12px;
        border: none;
        cursor: pointer;
    }
    

}

@media only screen and (max-width:414px) {
    label.logo a {
        left: 12.75vh;
    }

    .bottom-nav label.logo-git i {
        color: rgb(255, 255, 255);
        font-size: 4.1vh;
        position: relative;
        top: 0.4vh;
        left: 54%;
    }
    
    .bottom-nav label.logo-link i {
        color: rgb(255, 255, 255);
        font-size: 4.1vh;
        position: relative;
        top: 0.4vh;
        left: 30%;
    }
    


}

@media only screen and (max-width: 412px) {

    .bottom-nav label.logo-git i {
        color: rgb(255, 255, 255);
        font-size: 4.1vh;
        position: relative;
        top: 0.4vh;
        left: 54%;
    }
    
    .bottom-nav label.logo-link i {
        color: rgb(255, 255, 255);
        font-size: 4.1vh;
        position: relative;
        top: 0.4vh;
        left: 30%;
    }
    
}

@media only screen and (max-width: 375px) {
    
    .wrapper {
        width: 100%;
    } 

    .wrapper h1 {
        font-size: 4vh;
        color: #ffffff;
    }

    .wrapper p {
        font-size: 1.5vh;
    }

    .nav-btn {
        display: none;
    }

    label.logo a {
        left: 27%;
    }


    .contact-us h1 {
        text-align: center;
        font-size: 4vh;
        position: relative;
        top: 2vh;
        color: #000;
        
    }
    .contact-form {

        height: 300px;
        width: 300px;
        background-color: #fff;
        box-shadow: 0 0 2px 0 #999;
        top: 90%;
        left: 50%;
        transform: translate(-50%,-50%);
        position: absolute;
    }
    
    form {
        margin: 35px;
    }
    
    .input-field {
        width: 200px;
        height: 25px;
        margin-top: 20px;
        padding-left: 10px;
        border: 1px solid #777;
        border-radius: 14px;
        outline: none;
    }
    
    .textarea-field {
        height: 50px;
        padding-top: 10px;
    }
    
    .send-btn {
        border-radius: 20px;
        color: #fff;
        margin-top: 15px;
        padding: 10px;
        background-color: #47c35a;
        font-size: 12px;
        border: none;
        cursor: pointer;
    }
    

}


@media only screen and (max-width: 280px) {
    
    .wrapper {
        width: 100%;
    } 

    .wrapper h1 {
        font-size: 4vh;
        color: #ffffff;
    }

    .wrapper p {
        font-size: 1.5vh;
    }

    .wrapper a {
        position: relative;
        font-size: 2vh;
        top: 5%;
        width: 100px;
        height: 50px;
    }
    .nav-btn {
        display: none;
    }

    label.logo a {
        left: 21%;
    }


    .contact-us h1 {
        text-align: center;
        font-size: 4vh;
        position: relative;
        top: 2vh;
        color: #000;
        
    }
    .contact-form {

        height: 300px;
        width: 300px;
        background-color: #fff;
        box-shadow: 0 0 2px 0 #999;
        top: 90%;
        left: 50%;
        transform: translate(-50%,-50%);
        position: absolute;
    }
    
    form {
        margin: 35px;
    }
    
    .input-field {
        width: 200px;
        height: 25px;
        margin-top: 20px;
        padding-left: 10px;
        border: 1px solid #777;
        border-radius: 14px;
        outline: none;
    }
    
    .textarea-field {
        height: 50px;
        padding-top: 10px;
    }
    
    .send-btn {
        border-radius: 20px;
        color: #fff;
        margin-top: 15px;
        padding: 10px;
        background-color: #47c35a;
        font-size: 12px;
        border: none;
        cursor: pointer;
    }
    
    .bottom-nav label.logo-git i {
        color: rgb(255, 255, 255);
        font-size: 4.1vh;
        position: relative;
        top: 0.4vh;
        left: 54%;
    }
    
    .bottom-nav label.logo-link i {
        color: rgb(255, 255, 255);
        font-size: 4.1vh;
        position: relative;
        top: 0.4vh;
        left: 30%;
    }

}



@media (min-width: 214px) {
    .wrapper {
        width: 100%;
    }

    .contact-us h1 {
        font-size: 4rem;
    }

    label.logo a {
        left: 15rem;
    }
}



